// _library.sass
$white: #FFF !default
$shadow: #FDFDFF !default
$gray-light: #FEFEFF !default
$gray: #F7FAFC !default
$gray-shadow: #EBEEFE !default
$gray-dark: #A0AEC0 !default
$blue: #5E75F6 !default
$blue-shadow: #4758B9 !default
$blue-dark: #2F3A7B !default
$blue-light: #AFBAFB !default
$red: #F65E75 !default
$red-light: #FEEBEE !default
$red-dark: #D75266 !default
$green: #75F65E !default
$green-light: #EEFEEB !default                                                                                                                                                                                                                                                                            ;
$yellow: #F6DF5E !default
$yellow-dark: #E7D362 !default

$text: $blue-dark
$text-light: $white
$text-neutral: $gray-dark
